<!DOCTYPE html>

{% extends 'testapp/base.html' %}
{% load static %}


 
{% block body_block %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/about.css' %}">
<div class="img">
    <img src="{% static 'images/1.jpg' %}" alt="My image">
</div>
<div class="container">
    MY NAME IS PRIYABRAT DALBEHERA.I AM FROM TALCHER,ODIHSA.
    I DID MY M.TECH IN POWERELECRONICS AND DRIVE FROM COLLEGE OF ENGNEERING AND TECHNOLOGY,BHUBANESWAR.
    I DID MY B.TECH IN ELECTRICAL ENGNEERING FROM PARALA MAHARAJA ENGNEERING COLLEGE,BERHAMPUR .

    Actively looking for better opportunity as a Python Developer. Having Knowledge in Python ,Django, Django REST framework(DRF), HTML ,CSS, JavaScript, sql, Mysql, Linux, Excel. Good understanding of Software logic building and fast learning.


     
</div>
<div class="box">
    <h1>CONTACT ME</h1>
  
</div>
<div class="box1">
    <h2>GMAIL: <a href="">ipriyabrat689@gmail.com</a></h2>
    <h2>MOBILE NO:7749086836</h2>
    <h2>WHATSAPP NO:7749086836</h2>
 

</div>
  
{% endblock %}