<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIYBARAT DALBEHERA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Rowdies:wght@300;400&family=Source+Serif+4&family=Supermercado+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
     
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">PRIYABRT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                 
                <li class="nav-item active">
                  <a class="nav-link" href="/about">ABOUT ME </a>
                </li>
                <li class="nav-item active" >
                  <a  class="nav-link" href="#sec2"  id='sec1'>PROJECTS </a>
                <!-- </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/share">CONTACT ME </a>
                </li>
                  -->
            </div>
          </nav>
   

    {% block body_block %}
    {% endblock %}
</body> 
</html>
